In [525]:
import pandas as pd
import numpy as np

In [526]:
train = pd.read_csv('train.csv')
train.head()

      id      location  fault_severity
0  14121  location 118               1
1   9320   location 91               0
2  14394  location 152               1
3   8218  location 931               1
4  14804  location 120               0

In [527]:
train.isnull().sum()

id                0
location          0
fault_severity    0
dtype: int64

In [528]:
et = pd.read_csv('event_type.csv')
et.head()

     id     event_type
0  6597  event_type 11
1  8011  event_type 15
2  2597  event_type 15
3  5022  event_type 15
4  5022  event_type 11

In [529]:
et.nunique()

id            18552
event_type       53
dtype: int64

In [530]:
et.isnull().sum()

id            0
event_type    0
dtype: int64

In [531]:
lf = pd.read_csv('log_feature.csv')
lf.head()

     id  log_feature  volume
0  6597   feature 68       6
1  8011   feature 68       7
2  2597   feature 68       1
3  5022  feature 172       2
4  5022   feature 56       1

In [532]:
lf.nunique()

id             18552
log_feature      386
volume           341
dtype: int64

In [533]:
lf.isnull().sum()

id             0
log_feature    0
volume         0
dtype: int64

In [534]:
rt = pd.read_csv('resource_type.csv')
rt.head()

     id    resource_type
0  6597  resource_type 8
1  8011  resource_type 8
2  2597  resource_type 8
3  5022  resource_type 8
4  6852  resource_type 8

In [535]:
rt.nunique()

id               18552
resource_type       10
dtype: int64

In [536]:
rt.isnull().sum()

id               0
resource_type    0
dtype: int64

In [537]:
st = pd.read_csv('severity_type.csv')
st.head()

     id    severity_type
0  6597  severity_type 2
1  8011  severity_type 2
2  2597  severity_type 2
3  5022  severity_type 1
4  6852  severity_type 1

In [538]:
st.nunique()

id               18552
severity_type        5
dtype: int64

In [539]:
st.isnull().sum()

id               0
severity_type    0
dtype: int64

In [540]:
data = pd.merge(et, rt, on = 'id')
data.head()

     id     event_type    resource_type
0  6597  event_type 11  resource_type 8
1  8011  event_type 15  resource_type 8
2  2597  event_type 15  resource_type 8
3  5022  event_type 15  resource_type 8
4  5022  event_type 11  resource_type 8

In [541]:
d1 = pd.merge(data, st, on = 'id')
d1.head()

     id     event_type    resource_type    severity_type
0  6597  event_type 11  resource_type 8  severity_type 2
1  8011  event_type 15  resource_type 8  severity_type 2
2  2597  event_type 15  resource_type 8  severity_type 2
3  5022  event_type 15  resource_type 8  severity_type 1
4  5022  event_type 11  resource_type 8  severity_type 1

In [542]:
d2 = pd.merge(d1, lf, on='id')
d2.head()

     id     event_type    resource_type    severity_type  log_feature  volume
0  6597  event_type 11  resource_type 8  severity_type 2   feature 68       6
1  8011  event_type 15  resource_type 8  severity_type 2   feature 68       7
2  2597  event_type 15  resource_type 8  severity_type 2   feature 68       1
3  5022  event_type 15  resource_type 8  severity_type 1  feature 172       2
4  5022  event_type 15  resource_type 8  severity_type 1   feature 56       1

In [543]:
d2.nunique()

id               18552
event_type          53
resource_type       10
severity_type        5
log_feature        386
volume             341
dtype: int64

In [544]:
d2.event_type.str.split('_')[0][1].split('type')[1].strip()

'11'

In [545]:
d2['ET'] = d2['event_type'].map(lambda x: x.split('_')[1].split('type')[1].strip())
d2.head()

,id,event_type,resource_type,severity_type,log_feature,volume,ET
0,6597,event_type 11,resource_type 8,severity_type 2,feature 68,6,11
1,8011,event_type 15,resource_type 8,severity_type 2,feature 68,7,15
2,2597,event_type 15,resource_type 8,severity_type 2,feature 68,1,15
3,5022,event_type 15,resource_type 8,severity_type 1,feature 172,2,15
4,5022,event_type 15,resource_type 8,severity_type 1,feature 56,1,15

In [546]:
d2.resource_type.str.split('_')[0][1].split('type ')[1]

'8'

In [547]:
d2['RT'] = d2['resource_type'].map(lambda x: x.split('_')[1].split('type ')[1])
d2.head()

,id,event_type,resource_type,severity_type,log_feature,volume,ET,RT
0,6597,event_type 11,resource_type 8,severity_type 2,feature 68,6,11,8
1,8011,event_type 15,resource_type 8,severity_type 2,feature 68,7,15,8
2,2597,event_type 15,resource_type 8,severity_type 2,feature 68,1,15,8
3,5022,event_type 15,resource_type 8,severity_type 1,feature 172,2,15,8
4,5022,event_type 15,resource_type 8,severity_type 1,feature 56,1,15,8

In [548]:
d2.severity_type.str.split('severity_type ')[0][1]

'2'

In [549]:
d2['ST'] = d2['severity_type'].map(lambda x: x.split('severity_type')[1])
d2.head()

,id,event_type,resource_type,severity_type,log_feature,volume,ET,RT,ST
0,6597,event_type 11,resource_type 8,severity_type 2,feature 68,6,11,8,2
1,8011,event_type 15,resource_type 8,severity_type 2,feature 68,7,15,8,2
2,2597,event_type 15,resource_type 8,severity_type 2,feature 68,1,15,8,2
3,5022,event_type 15,resource_type 8,severity_type 1,feature 172,2,15,8,1
4,5022,event_type 15,resource_type 8,severity_type 1,feature 56,1,15,8,1

In [550]:
d2.log_feature.str.split('feature ')[0][1]

'68'

In [551]:
d2['LF'] = d2['log_feature'].map(lambda x: x.split('feature ')[1])
d2.head()

,id,event_type,resource_type,severity_type,log_feature,volume,ET,RT,ST,LF
0,6597,event_type 11,resource_type 8,severity_type 2,feature 68,6,11,8,2,68
1,8011,event_type 15,resource_type 8,severity_type 2,feature 68,7,15,8,2,68
2,2597,event_type 15,resource_type 8,severity_type 2,feature 68,1,15,8,2,68
3,5022,event_type 15,resource_type 8,severity_type 1,feature 172,2,15,8,1,172
4,5022,event_type 15,resource_type 8,severity_type 1,feature 56,1,15,8,1,56

In [552]:
d3 = d2.copy()
d3.head()

,id,event_type,resource_type,severity_type,log_feature,volume,ET,RT,ST,LF
0,6597,event_type 11,resource_type 8,severity_type 2,feature 68,6,11,8,2,68
1,8011,event_type 15,resource_type 8,severity_type 2,feature 68,7,15,8,2,68
2,2597,event_type 15,resource_type 8,severity_type 2,feature 68,1,15,8,2,68
3,5022,event_type 15,resource_type 8,severity_type 1,feature 172,2,15,8,1,172
4,5022,event_type 15,resource_type 8,severity_type 1,feature 56,1,15,8,1,56

In [553]:
del d3['event_type']
del d3['resource_type']
del d3['severity_type']
del d3['log_feature']

In [554]:
d3.head()

     id  volume  ET RT  ST   LF
0  6597       6  11  8   2   68
1  8011       7  15  8   2   68
2  2597       1  15  8   2   68
3  5022       2  15  8   1  172
4  5022       1  15  8   1   56

In [555]:
d3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146423 entries, 0 to 146422
Data columns (total 6 columns):
id        146423 non-null int64
volume    146423 non-null int64
ET        146423 non-null object
RT        146423 non-null object
ST        146423 non-null object
LF        146423 non-null object
dtypes: int64(2), object(4)
memory usage: 7.8+ MB

In [556]:
d3.nunique()

id        18552
volume      341
ET           53
RT           10
ST            5
LF          386
dtype: int64

In [557]:
t1 = train.copy()
t1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 3 columns):
id                7381 non-null int64
location          7381 non-null object
fault_severity    7381 non-null int64
dtypes: int64(2), object(1)
memory usage: 173.1+ KB

In [558]:
list(t1.columns)

['id', 'location', 'fault_severity']

In [559]:
t2 = t1.drop('fault_severity', axis = 1)
t2.head()

      id      location
0  14121  location 118
1   9320   location 91
2  14394  location 152
3   8218  location 931
4  14804  location 120

In [560]:
t2['L'] = t2['location'].map(lambda x: x.split('location ')[1])

In [561]:
t2 = t2.drop('location', axis = 1)

In [562]:
t2.head()

      id    L
0  14121  118
1   9320   91
2  14394  152
3   8218  931
4  14804  120

In [563]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 2 columns):
id    7381 non-null int64
L     7381 non-null object
dtypes: int64(1), object(1)
memory usage: 115.4+ KB

In [564]:
df = pd.merge(t2, d3, on = 'id')
df.head()

      id    L  volume  ET RT  ST   LF
0  14121  118      19  34  2   2  312
1  14121  118      19  34  2   2  232
2  14121  118      19  35  2   2  312
3  14121  118      19  35  2   2  232
4   9320   91     200  34  2   2  315

In [565]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61839 entries, 0 to 61838
Data columns (total 7 columns):
id        61839 non-null int64
L         61839 non-null object
volume    61839 non-null int64
ET        61839 non-null object
RT        61839 non-null object
ST        61839 non-null object
LF        61839 non-null object
dtypes: int64(2), object(5)
memory usage: 3.8+ MB

In [566]:
df.isnull().sum()

id        0
L         0
volume    0
ET        0
RT        0
ST        0
LF        0
dtype: int64

In [567]:
df.nunique()

id        7381
L          929
volume     254
ET          49
RT          10
ST           5
LF         331
dtype: int64

In [568]:
df.groupby('id').sum().head()

    volume
id
1       20
5       34
6        2
8       32
13       4

In [569]:
df1 = df.copy()
df1.head()

      id    L  volume  ET RT  ST   LF
0  14121  118      19  34  2   2  312
1  14121  118      19  34  2   2  232
2  14121  118      19  35  2   2  312
3  14121  118      19  35  2   2  232
4   9320   91     200  34  2   2  315

In [570]:
df1 = pd.get_dummies(df1, drop_first = True)
df1

,id,volume,L_10,L_100,L_1000,L_1002,L_1005,L_1006,L_1007,L_1008,...,LF_9,LF_90,LF_91,LF_92,LF_94,LF_95,LF_96,LF_97,LF_98,LF_99
0,14121,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,14121,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,14121,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,14121,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9320,200,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,9320,116,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,9320,200,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,9320,116,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,14394,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,14394,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,14394,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,14394,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,8218,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,8218,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,8218,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,8218,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,8218,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,8218,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,14804,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,14804,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,14804,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,14804,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,14804,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,14804,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,14804,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,14804,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,14804,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,14804,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,14804,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,14804,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61809,4065,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61810,4065,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61811,4065,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61812,4065,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61813,4065,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61814,1628,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61815,1628,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61816,1628,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61817,1628,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61818,16687,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61819,16687,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61820,6813,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61821,6813,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61822,10455,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61823,10455,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61824,870,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61825,870,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61826,870,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61827,870,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61828,18068,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61829,18068,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61830,14111,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61831,14111,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61832,15189,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61833,15189,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61834,15189,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61835,15189,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61836,17067,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61837,17067,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61838,17067,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [571]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61839 entries, 0 to 61838
Columns: 1321 entries, id to LF_99
dtypes: int64(2), uint8(1319)
memory usage: 79.2 MB

In [572]:
df2 = df1.copy()

In [573]:
df2.shape

(61839, 1321)

In [574]:
train.shape

(7381, 3)

In [575]:
df3 = df2.groupby('id').sum()
df3.head()

,volume,L_10,L_100,L_1000,L_1002,L_1005,L_1006,L_1007,L_1008,L_1009,...,LF_9,LF_90,LF_91,LF_92,LF_94,LF_95,LF_96,LF_97,LF_98,LF_99
id,,,,,,,,,,,,,,,,,,,,,
1,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [576]:
df3.reset_index(level = 'id', inplace = True)

In [577]:
df3

## when I assigned into a diff df, it's not pulling the data, not showing anything

,id,volume,L_10,L_100,L_1000,L_1002,L_1005,L_1006,L_1007,L_1008,...,LF_9,LF_90,LF_91,LF_92,LF_94,LF_95,LF_96,LF_97,LF_98,LF_99
0,1,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,13,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,19,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,20,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,23,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,24,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,26,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,27,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,28,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,29,1254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,31,70,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,33,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,38,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,43,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,44,112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,49,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,53,891,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,54,72,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,55,528,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,57,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,59,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,60,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,61,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,64,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,67,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,68,104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,69,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7351,18473,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7352,18474,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7353,18480,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7354,18482,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7355,18484,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7356,18490,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7357,18492,112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7358,18493,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7359,18498,57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7360,18503,52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7361,18506,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7362,18507,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7363,18508,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7364,18511,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7365,18520,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7366,18524,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7367,18525,128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7368,18527,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7369,18528,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7370,18530,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7371,18533,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7372,18535,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7373,18536,76,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7374,18537,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7375,18538,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7376,18539,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7377,18542,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7378,18543,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7379,18548,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7380,18550,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [578]:
df3.shape

(7381, 1321)

In [579]:
train.shape

(7381, 3)

In [580]:
df4 = pd.merge(train, df3, on ='id', how='left')
df4.head()

,id,location,fault_severity,volume,L_10,L_100,L_1000,L_1002,L_1005,L_1006,...,LF_9,LF_90,LF_91,LF_92,LF_94,LF_95,LF_96,LF_97,LF_98,LF_99
0,14121,location 118,1,76,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9320,location 91,0,632,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,14394,location 152,1,4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8218,location 931,1,44,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,14804,location 120,0,96,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [581]:
del df4['location']

In [582]:
df4.head()

,id,fault_severity,volume,L_10,L_100,L_1000,L_1002,L_1005,L_1006,L_1007,...,LF_9,LF_90,LF_91,LF_92,LF_94,LF_95,LF_96,LF_97,LF_98,LF_99
0,14121,1,76,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9320,0,632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,14394,1,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8218,1,44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,14804,0,96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [583]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier as gbc
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
n_neighbors = 5
from sklearn.model_selection import train_test_split as tts
from sklearn import cross_validation, metrics
from sklearn.grid_search import GridSearchCV as gscv

l = LogisticRegression()
d = DecisionTreeClassifier()
r = RandomForestClassifier()
g = GradientBoostingClassifier()
k = KNeighborsRegressor(n_neighbors = 5)
gr = GradientBoostingRegressor()

In [584]:
X = df4.drop('fault_severity', axis = 1)
Y = df4['fault_severity']

Xtrain, Xtest, Ytrain, Ytest = tts(X,Y, test_size = .2, random_state = 0)

In [585]:
#g1 = g.fit(Xtrain,Ytrain)

Default Parameters

g = gbc(n_estimators=100, min_samples_split=2, min_samples_leaf=1, learning_rate=.1,
                               max_depth=3, min_weight_fraction_leaf=0.0, max_leaf_nodes=None, max_features=None,
                               subsample=1.0, loss='deviance', init=None, random_state=None, verbose=0,
                               warm_start=False,presort='auto')

In [602]:
gb = gbc(min_samples_split=50, min_samples_leaf=50, learning_rate=.05, max_depth=8, 
          max_features='sqrt',subsample=0.8,random_state=10)

In [603]:
param_test = {'n_estimators': list(range(1000,1100,10))}

In [604]:
gs = gscv(gb, param_test, n_jobs=4, iid=False, cv=5)

In [605]:
gs.fit(X,Y)

GridSearchCV(cv=5, error_score='raise',
       estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.05, loss='deviance', max_depth=8,
              max_features='sqrt', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=50, min_samples_split=50,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=10, subsample=0.8, verbose=0,
              warm_start=False),
       fit_params={}, iid=False, n_jobs=4,
       param_grid={'n_estimators': [1000, 1010, 1020, 1030, 1040, 1050, 1060, 1070, 1080, 1090]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [606]:
gs.grid_scores_, gs.best_params_, gs.best_score_

([mean: 0.73242, std: 0.00694, params: {'n_estimators': 1000},
  mean: 0.73242, std: 0.00702, params: {'n_estimators': 1010},
  mean: 0.73134, std: 0.00660, params: {'n_estimators': 1020},
  mean: 0.73147, std: 0.00635, params: {'n_estimators': 1030},
  mean: 0.73134, std: 0.00719, params: {'n_estimators': 1040},
  mean: 0.73188, std: 0.00646, params: {'n_estimators': 1050},
  mean: 0.73229, std: 0.00596, params: {'n_estimators': 1060},
  mean: 0.73175, std: 0.00574, params: {'n_estimators': 1070},
  mean: 0.73107, std: 0.00621, params: {'n_estimators': 1080},
  mean: 0.73161, std: 0.00617, params: {'n_estimators': 1090}],
 {'n_estimators': 1010},
 0.7324226135635361)

In [610]:
gb1 = gbc(learning_rate=.05, n_estimators = 1010,
          max_features='sqrt',subsample=0.8,random_state=10)

In [611]:
param_test1 = {'max_depth':list(range(5,16,2)),'min_samples_split': list(range(50,501,50))}

In [612]:
gs1 = gscv(gb1, param_test1, n_jobs=4, iid=False, cv=5)

In [613]:
gs1.fit(X,Y)

GridSearchCV(cv=5, error_score='raise',
       estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.05, loss='deviance', max_depth=3,
              max_features='sqrt', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=1010,
              presort='auto', random_state=10, subsample=0.8, verbose=0,
              warm_start=False),
       fit_params={}, iid=False, n_jobs=4,
       param_grid={'max_depth': [5, 7, 9, 11, 13, 15], 'min_samples_split': [50, 100, 150, 200, 250, 300, 350, 400, 450, 500]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [614]:
gs1.grid_scores_, gs1.best_params_, gs1.best_score_

([mean: 0.73256, std: 0.00977, params: {'max_depth': 5, 'min_samples_split': 50},
  mean: 0.73297, std: 0.01123, params: {'max_depth': 5, 'min_samples_split': 100},
  mean: 0.73107, std: 0.01106, params: {'max_depth': 5, 'min_samples_split': 150},
  mean: 0.73337, std: 0.01046, params: {'max_depth': 5, 'min_samples_split': 200},
  mean: 0.73120, std: 0.00975, params: {'max_depth': 5, 'min_samples_split': 250},
  mean: 0.73066, std: 0.00979, params: {'max_depth': 5, 'min_samples_split': 300},
  mean: 0.73188, std: 0.01165, params: {'max_depth': 5, 'min_samples_split': 350},
  mean: 0.73188, std: 0.01108, params: {'max_depth': 5, 'min_samples_split': 400},
  mean: 0.73188, std: 0.01105, params: {'max_depth': 5, 'min_samples_split': 450},
  mean: 0.72944, std: 0.00991, params: {'max_depth': 5, 'min_samples_split': 500},
  mean: 0.73147, std: 0.01008, params: {'max_depth': 7, 'min_samples_split': 50},
  mean: 0.73147, std: 0.00917, params: {'max_depth': 7, 'min_samples_split': 100},
  mean: 0.73147, std: 0.00952, params: {'max_depth': 7, 'min_samples_split': 150},
  mean: 0.73134, std: 0.00958, params: {'max_depth': 7, 'min_samples_split': 200},
  mean: 0.73215, std: 0.01043, params: {'max_depth': 7, 'min_samples_split': 250},
  mean: 0.73215, std: 0.00867, params: {'max_depth': 7, 'min_samples_split': 300},
  mean: 0.73093, std: 0.00996, params: {'max_depth': 7, 'min_samples_split': 350},
  mean: 0.73026, std: 0.01101, params: {'max_depth': 7, 'min_samples_split': 400},
  mean: 0.73175, std: 0.00944, params: {'max_depth': 7, 'min_samples_split': 450},
  mean: 0.73039, std: 0.00939, params: {'max_depth': 7, 'min_samples_split': 500},
  mean: 0.73134, std: 0.01134, params: {'max_depth': 9, 'min_samples_split': 50},
  mean: 0.72849, std: 0.01061, params: {'max_depth': 9, 'min_samples_split': 100},
  mean: 0.72877, std: 0.01122, params: {'max_depth': 9, 'min_samples_split': 150},
  mean: 0.72850, std: 0.01109, params: {'max_depth': 9, 'min_samples_split': 200},
  mean: 0.72741, std: 0.01040, params: {'max_depth': 9, 'min_samples_split': 250},
  mean: 0.72727, std: 0.00945, params: {'max_depth': 9, 'min_samples_split': 300},
  mean: 0.72931, std: 0.01134, params: {'max_depth': 9, 'min_samples_split': 350},
  mean: 0.72931, std: 0.01032, params: {'max_depth': 9, 'min_samples_split': 400},
  mean: 0.72904, std: 0.01023, params: {'max_depth': 9, 'min_samples_split': 450},
  mean: 0.72850, std: 0.01084, params: {'max_depth': 9, 'min_samples_split': 500},
  mean: 0.73080, std: 0.01099, params: {'max_depth': 11, 'min_samples_split': 50},
  mean: 0.73012, std: 0.00821, params: {'max_depth': 11, 'min_samples_split': 100},
  mean: 0.72877, std: 0.00915, params: {'max_depth': 11, 'min_samples_split': 150},
  mean: 0.72728, std: 0.00724, params: {'max_depth': 11, 'min_samples_split': 200},
  mean: 0.72646, std: 0.00914, params: {'max_depth': 11, 'min_samples_split': 250},
  mean: 0.72890, std: 0.01049, params: {'max_depth': 11, 'min_samples_split': 300},
  mean: 0.72822, std: 0.00867, params: {'max_depth': 11, 'min_samples_split': 350},
  mean: 0.72822, std: 0.01020, params: {'max_depth': 11, 'min_samples_split': 400},
  mean: 0.72782, std: 0.01063, params: {'max_depth': 11, 'min_samples_split': 450},
  mean: 0.72931, std: 0.00922, params: {'max_depth': 11, 'min_samples_split': 500},
  mean: 0.73229, std: 0.00703, params: {'max_depth': 13, 'min_samples_split': 50},
  mean: 0.72958, std: 0.00844, params: {'max_depth': 13, 'min_samples_split': 100},
  mean: 0.72890, std: 0.00694, params: {'max_depth': 13, 'min_samples_split': 150},
  mean: 0.72849, std: 0.00791, params: {'max_depth': 13, 'min_samples_split': 200},
  mean: 0.72782, std: 0.00811, params: {'max_depth': 13, 'min_samples_split': 250},
  mean: 0.72741, std: 0.01066, params: {'max_depth': 13, 'min_samples_split': 300},
  mean: 0.72836, std: 0.00951, params: {'max_depth': 13, 'min_samples_split': 350},
  mean: 0.72741, std: 0.01136, params: {'max_depth': 13, 'min_samples_split': 400},
  mean: 0.72823, std: 0.01016, params: {'max_depth': 13, 'min_samples_split': 450},
  mean: 0.72944, std: 0.01053, params: {'max_depth': 13, 'min_samples_split': 500},
  mean: 0.72931, std: 0.00717, params: {'max_depth': 15, 'min_samples_split': 50},
  mean: 0.73202, std: 0.00998, params: {'max_depth': 15, 'min_samples_split': 100},
  mean: 0.73080, std: 0.01004, params: {'max_depth': 15, 'min_samples_split': 150},
  mean: 0.72998, std: 0.00852, params: {'max_depth': 15, 'min_samples_split': 200},
  mean: 0.72971, std: 0.00895, params: {'max_depth': 15, 'min_samples_split': 250},
  mean: 0.72931, std: 0.00958, params: {'max_depth': 15, 'min_samples_split': 300},
  mean: 0.72985, std: 0.00979, params: {'max_depth': 15, 'min_samples_split': 350},
  mean: 0.72714, std: 0.00988, params: {'max_depth': 15, 'min_samples_split': 400},
  mean: 0.72877, std: 0.00965, params: {'max_depth': 15, 'min_samples_split': 450},
  mean: 0.72782, std: 0.01109, params: {'max_depth': 15, 'min_samples_split': 500}],
 {'max_depth': 5, 'min_samples_split': 200},
 0.7333705729754713)

In [655]:
gb2 = gbc(n_estimators = 80, max_features='sqrt',subsample=0.8,random_state=10)

In [656]:
param_test2 = {'max_depth':list(range(5,16,2)),'min_samples_split': list(range(50,501,50)),
              'learning_rate':[.1,.2,.3,.4,.5,.6,.7,.8,.9,1]}

In [657]:
gs2 = gscv(gb2, param_test2, n_jobs=4, iid=False, cv=5)

In [658]:
gs2.fit(X,Y)

GridSearchCV(cv=5, error_score='raise',
       estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features='sqrt', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=80,
              presort='auto', random_state=10, subsample=0.8, verbose=0,
              warm_start=False),
       fit_params={}, iid=False, n_jobs=4,
       param_grid={'max_depth': [5, 7, 9, 11, 13, 15], 'min_samples_split': [50, 100, 150, 200, 250, 300, 350, 400, 450, 500], 'learning_rate': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [662]:
gs2.grid_scores_, gs2.best_params_, gs2.best_score_

([mean: 0.72321, std: 0.01029, params: {'learning_rate': 0.1, 'max_depth': 5, 'min_samples_split': 50},
  mean: 0.72226, std: 0.01072, params: {'learning_rate': 0.1, 'max_depth': 5, 'min_samples_split': 100},
  mean: 0.72010, std: 0.00961, params: {'learning_rate': 0.1, 'max_depth': 5, 'min_samples_split': 150},
  mean: 0.72132, std: 0.00917, params: {'learning_rate': 0.1, 'max_depth': 5, 'min_samples_split': 200},
  mean: 0.72226, std: 0.00980, params: {'learning_rate': 0.1, 'max_depth': 5, 'min_samples_split': 250},
  mean: 0.72281, std: 0.00892, params: {'learning_rate': 0.1, 'max_depth': 5, 'min_samples_split': 300},
  mean: 0.72362, std: 0.00975, params: {'learning_rate': 0.1, 'max_depth': 5, 'min_samples_split': 350},
  mean: 0.72362, std: 0.00881, params: {'learning_rate': 0.1, 'max_depth': 5, 'min_samples_split': 400},
  mean: 0.72416, std: 0.00890, params: {'learning_rate': 0.1, 'max_depth': 5, 'min_samples_split': 450},
  mean: 0.72389, std: 0.00747, params: {'learning_rate': 0.1, 'max_depth': 5, 'min_samples_split': 500},
  mean: 0.73161, std: 0.00869, params: {'learning_rate': 0.1, 'max_depth': 7, 'min_samples_split': 50},
  mean: 0.73161, std: 0.00733, params: {'learning_rate': 0.1, 'max_depth': 7, 'min_samples_split': 100},
  mean: 0.73107, std: 0.00853, params: {'learning_rate': 0.1, 'max_depth': 7, 'min_samples_split': 150},
  mean: 0.72809, std: 0.00967, params: {'learning_rate': 0.1, 'max_depth': 7, 'min_samples_split': 200},
  mean: 0.72958, std: 0.00837, params: {'learning_rate': 0.1, 'max_depth': 7, 'min_samples_split': 250},
  mean: 0.72958, std: 0.01070, params: {'learning_rate': 0.1, 'max_depth': 7, 'min_samples_split': 300},
  mean: 0.72768, std: 0.00969, params: {'learning_rate': 0.1, 'max_depth': 7, 'min_samples_split': 350},
  mean: 0.73066, std: 0.00933, params: {'learning_rate': 0.1, 'max_depth': 7, 'min_samples_split': 400},
  mean: 0.72890, std: 0.00998, params: {'learning_rate': 0.1, 'max_depth': 7, 'min_samples_split': 450},
  mean: 0.72755, std: 0.00927, params: {'learning_rate': 0.1, 'max_depth': 7, 'min_samples_split': 500},
  mean: 0.73419, std: 0.01115, params: {'learning_rate': 0.1, 'max_depth': 9, 'min_samples_split': 50},
  mean: 0.73256, std: 0.00909, params: {'learning_rate': 0.1, 'max_depth': 9, 'min_samples_split': 100},
  mean: 0.73351, std: 0.00870, params: {'learning_rate': 0.1, 'max_depth': 9, 'min_samples_split': 150},
  mean: 0.73446, std: 0.01239, params: {'learning_rate': 0.1, 'max_depth': 9, 'min_samples_split': 200},
  mean: 0.73445, std: 0.00780, params: {'learning_rate': 0.1, 'max_depth': 9, 'min_samples_split': 250},
  mean: 0.73324, std: 0.00934, params: {'learning_rate': 0.1, 'max_depth': 9, 'min_samples_split': 300},
  mean: 0.73161, std: 0.00957, params: {'learning_rate': 0.1, 'max_depth': 9, 'min_samples_split': 350},
  mean: 0.73242, std: 0.00995, params: {'learning_rate': 0.1, 'max_depth': 9, 'min_samples_split': 400},
  mean: 0.73134, std: 0.00832, params: {'learning_rate': 0.1, 'max_depth': 9, 'min_samples_split': 450},
  mean: 0.73188, std: 0.00950, params: {'learning_rate': 0.1, 'max_depth': 9, 'min_samples_split': 500},
  mean: 0.73663, std: 0.00998, params: {'learning_rate': 0.1, 'max_depth': 11, 'min_samples_split': 50},
  mean: 0.73676, std: 0.00822, params: {'learning_rate': 0.1, 'max_depth': 11, 'min_samples_split': 100},
  mean: 0.73432, std: 0.01047, params: {'learning_rate': 0.1, 'max_depth': 11, 'min_samples_split': 150},
  mean: 0.73364, std: 0.01026, params: {'learning_rate': 0.1, 'max_depth': 11, 'min_samples_split': 200},
  mean: 0.73310, std: 0.01212, params: {'learning_rate': 0.1, 'max_depth': 11, 'min_samples_split': 250},
  mean: 0.73378, std: 0.00886, params: {'learning_rate': 0.1, 'max_depth': 11, 'min_samples_split': 300},
  mean: 0.73446, std: 0.00947, params: {'learning_rate': 0.1, 'max_depth': 11, 'min_samples_split': 350},
  mean: 0.73595, std: 0.00815, params: {'learning_rate': 0.1, 'max_depth': 11, 'min_samples_split': 400},
  mean: 0.73459, std: 0.00891, params: {'learning_rate': 0.1, 'max_depth': 11, 'min_samples_split': 450},
  mean: 0.73554, std: 0.00975, params: {'learning_rate': 0.1, 'max_depth': 11, 'min_samples_split': 500},
  mean: 0.73432, std: 0.00936, params: {'learning_rate': 0.1, 'max_depth': 13, 'min_samples_split': 50},
  mean: 0.73513, std: 0.00681, params: {'learning_rate': 0.1, 'max_depth': 13, 'min_samples_split': 100},
  mean: 0.73283, std: 0.00876, params: {'learning_rate': 0.1, 'max_depth': 13, 'min_samples_split': 150},
  mean: 0.73527, std: 0.00756, params: {'learning_rate': 0.1, 'max_depth': 13, 'min_samples_split': 200},
  mean: 0.73405, std: 0.01003, params: {'learning_rate': 0.1, 'max_depth': 13, 'min_samples_split': 250},
  mean: 0.73595, std: 0.00868, params: {'learning_rate': 0.1, 'max_depth': 13, 'min_samples_split': 300},
  mean: 0.73771, std: 0.00885, params: {'learning_rate': 0.1, 'max_depth': 13, 'min_samples_split': 350},
  mean: 0.73676, std: 0.00955, params: {'learning_rate': 0.1, 'max_depth': 13, 'min_samples_split': 400},
  mean: 0.73595, std: 0.00970, params: {'learning_rate': 0.1, 'max_depth': 13, 'min_samples_split': 450},
  mean: 0.73568, std: 0.00860, params: {'learning_rate': 0.1, 'max_depth': 13, 'min_samples_split': 500},
  mean: 0.73798, std: 0.00930, params: {'learning_rate': 0.1, 'max_depth': 15, 'min_samples_split': 50},
  mean: 0.73486, std: 0.00956, params: {'learning_rate': 0.1, 'max_depth': 15, 'min_samples_split': 100},
  mean: 0.73581, std: 0.01093, params: {'learning_rate': 0.1, 'max_depth': 15, 'min_samples_split': 150},
  mean: 0.73744, std: 0.00833, params: {'learning_rate': 0.1, 'max_depth': 15, 'min_samples_split': 200},
  mean: 0.73540, std: 0.00865, params: {'learning_rate': 0.1, 'max_depth': 15, 'min_samples_split': 250},
  mean: 0.73622, std: 0.00879, params: {'learning_rate': 0.1, 'max_depth': 15, 'min_samples_split': 300},
  mean: 0.73608, std: 0.00844, params: {'learning_rate': 0.1, 'max_depth': 15, 'min_samples_split': 350},
  mean: 0.73391, std: 0.00983, params: {'learning_rate': 0.1, 'max_depth': 15, 'min_samples_split': 400},
  mean: 0.73351, std: 0.00928, params: {'learning_rate': 0.1, 'max_depth': 15, 'min_samples_split': 450},
  mean: 0.73622, std: 0.00927, params: {'learning_rate': 0.1, 'max_depth': 15, 'min_samples_split': 500},
  mean: 0.72755, std: 0.00859, params: {'learning_rate': 0.2, 'max_depth': 5, 'min_samples_split': 50},
  mean: 0.72755, std: 0.01029, params: {'learning_rate': 0.2, 'max_depth': 5, 'min_samples_split': 100},
  mean: 0.72836, std: 0.01025, params: {'learning_rate': 0.2, 'max_depth': 5, 'min_samples_split': 150},
  mean: 0.72985, std: 0.01003, params: {'learning_rate': 0.2, 'max_depth': 5, 'min_samples_split': 200},
  mean: 0.72755, std: 0.00931, params: {'learning_rate': 0.2, 'max_depth': 5, 'min_samples_split': 250},
  mean: 0.72876, std: 0.01101, params: {'learning_rate': 0.2, 'max_depth': 5, 'min_samples_split': 300},
  mean: 0.72904, std: 0.00990, params: {'learning_rate': 0.2, 'max_depth': 5, 'min_samples_split': 350},
  mean: 0.72755, std: 0.01045, params: {'learning_rate': 0.2, 'max_depth': 5, 'min_samples_split': 400},
  mean: 0.72755, std: 0.01076, params: {'learning_rate': 0.2, 'max_depth': 5, 'min_samples_split': 450},
  mean: 0.72633, std: 0.01261, params: {'learning_rate': 0.2, 'max_depth': 5, 'min_samples_split': 500},
  mean: 0.73269, std: 0.00887, params: {'learning_rate': 0.2, 'max_depth': 7, 'min_samples_split': 50},
  mean: 0.73093, std: 0.01222, params: {'learning_rate': 0.2, 'max_depth': 7, 'min_samples_split': 100},
  mean: 0.73202, std: 0.01145, params: {'learning_rate': 0.2, 'max_depth': 7, 'min_samples_split': 150},
  mean: 0.73242, std: 0.00873, params: {'learning_rate': 0.2, 'max_depth': 7, 'min_samples_split': 200},
  mean: 0.73147, std: 0.01339, params: {'learning_rate': 0.2, 'max_depth': 7, 'min_samples_split': 250},
  mean: 0.73229, std: 0.00843, params: {'learning_rate': 0.2, 'max_depth': 7, 'min_samples_split': 300},
  mean: 0.73202, std: 0.01042, params: {'learning_rate': 0.2, 'max_depth': 7, 'min_samples_split': 350},
  mean: 0.73202, std: 0.01065, params: {'learning_rate': 0.2, 'max_depth': 7, 'min_samples_split': 400},
  mean: 0.73418, std: 0.01067, params: {'learning_rate': 0.2, 'max_depth': 7, 'min_samples_split': 450},
  mean: 0.73175, std: 0.01274, params: {'learning_rate': 0.2, 'max_depth': 7, 'min_samples_split': 500},
  mean: 0.73337, std: 0.01117, params: {'learning_rate': 0.2, 'max_depth': 9, 'min_samples_split': 50},
  mean: 0.73026, std: 0.01003, params: {'learning_rate': 0.2, 'max_depth': 9, 'min_samples_split': 100},
  mean: 0.73066, std: 0.00888, params: {'learning_rate': 0.2, 'max_depth': 9, 'min_samples_split': 150},
  mean: 0.73175, std: 0.00928, params: {'learning_rate': 0.2, 'max_depth': 9, 'min_samples_split': 200},
  mean: 0.73432, std: 0.01155, params: {'learning_rate': 0.2, 'max_depth': 9, 'min_samples_split': 250},
  mean: 0.73148, std: 0.00907, params: {'learning_rate': 0.2, 'max_depth': 9, 'min_samples_split': 300},
  mean: 0.73324, std: 0.00725, params: {'learning_rate': 0.2, 'max_depth': 9, 'min_samples_split': 350},
  mean: 0.73256, std: 0.00931, params: {'learning_rate': 0.2, 'max_depth': 9, 'min_samples_split': 400},
  mean: 0.73161, std: 0.01031, params: {'learning_rate': 0.2, 'max_depth': 9, 'min_samples_split': 450},
  mean: 0.73175, std: 0.01204, params: {'learning_rate': 0.2, 'max_depth': 9, 'min_samples_split': 500},
  mean: 0.73270, std: 0.00904, params: {'learning_rate': 0.2, 'max_depth': 11, 'min_samples_split': 50},
  mean: 0.73663, std: 0.01121, params: {'learning_rate': 0.2, 'max_depth': 11, 'min_samples_split': 100},
  mean: 0.73270, std: 0.00784, params: {'learning_rate': 0.2, 'max_depth': 11, 'min_samples_split': 150},
  mean: 0.72999, std: 0.01063, params: {'learning_rate': 0.2, 'max_depth': 11, 'min_samples_split': 200},
  mean: 0.73662, std: 0.00882, params: {'learning_rate': 0.2, 'max_depth': 11, 'min_samples_split': 250},
  mean: 0.73148, std: 0.01022, params: {'learning_rate': 0.2, 'max_depth': 11, 'min_samples_split': 300},
  mean: 0.73216, std: 0.01275, params: {'learning_rate': 0.2, 'max_depth': 11, 'min_samples_split': 350},
  mean: 0.73026, std: 0.00789, params: {'learning_rate': 0.2, 'max_depth': 11, 'min_samples_split': 400},
  mean: 0.73324, std: 0.00994, params: {'learning_rate': 0.2, 'max_depth': 11, 'min_samples_split': 450},
  mean: 0.73297, std: 0.01169, params: {'learning_rate': 0.2, 'max_depth': 11, 'min_samples_split': 500},
  mean: 0.73283, std: 0.00960, params: {'learning_rate': 0.2, 'max_depth': 13, 'min_samples_split': 50},
  mean: 0.72700, std: 0.01076, params: {'learning_rate': 0.2, 'max_depth': 13, 'min_samples_split': 100},
  mean: 0.73527, std: 0.01260, params: {'learning_rate': 0.2, 'max_depth': 13, 'min_samples_split': 150},
  mean: 0.73337, std: 0.00978, params: {'learning_rate': 0.2, 'max_depth': 13, 'min_samples_split': 200},
  mean: 0.73324, std: 0.01022, params: {'learning_rate': 0.2, 'max_depth': 13, 'min_samples_split': 250},
  mean: 0.73473, std: 0.00708, params: {'learning_rate': 0.2, 'max_depth': 13, 'min_samples_split': 300},
  mean: 0.73473, std: 0.00949, params: {'learning_rate': 0.2, 'max_depth': 13, 'min_samples_split': 350},
  mean: 0.73283, std: 0.01288, params: {'learning_rate': 0.2, 'max_depth': 13, 'min_samples_split': 400},
  mean: 0.73283, std: 0.01306, params: {'learning_rate': 0.2, 'max_depth': 13, 'min_samples_split': 450},
  mean: 0.73378, std: 0.01199, params: {'learning_rate': 0.2, 'max_depth': 13, 'min_samples_split': 500},
  mean: 0.73812, std: 0.00985, params: {'learning_rate': 0.2, 'max_depth': 15, 'min_samples_split': 50},
  mean: 0.73134, std: 0.01231, params: {'learning_rate': 0.2, 'max_depth': 15, 'min_samples_split': 100},
  mean: 0.72999, std: 0.01057, params: {'learning_rate': 0.2, 'max_depth': 15, 'min_samples_split': 150},
  mean: 0.73337, std: 0.00838, params: {'learning_rate': 0.2, 'max_depth': 15, 'min_samples_split': 200},
  mean: 0.73134, std: 0.01252, params: {'learning_rate': 0.2, 'max_depth': 15, 'min_samples_split': 250},
  mean: 0.72999, std: 0.01180, params: {'learning_rate': 0.2, 'max_depth': 15, 'min_samples_split': 300},
  mean: 0.73256, std: 0.00883, params: {'learning_rate': 0.2, 'max_depth': 15, 'min_samples_split': 350},
  mean: 0.73080, std: 0.01085, params: {'learning_rate': 0.2, 'max_depth': 15, 'min_samples_split': 400},
  mean: 0.73324, std: 0.00924, params: {'learning_rate': 0.2, 'max_depth': 15, 'min_samples_split': 450},
  mean: 0.73093, std: 0.00846, params: {'learning_rate': 0.2, 'max_depth': 15, 'min_samples_split': 500},
  mean: 0.72958, std: 0.00980, params: {'learning_rate': 0.3, 'max_depth': 5, 'min_samples_split': 50},
  mean: 0.73188, std: 0.00757, params: {'learning_rate': 0.3, 'max_depth': 5, 'min_samples_split': 100},
  mean: 0.72985, std: 0.00909, params: {'learning_rate': 0.3, 'max_depth': 5, 'min_samples_split': 150},
  mean: 0.72945, std: 0.01042, params: {'learning_rate': 0.3, 'max_depth': 5, 'min_samples_split': 200},
  mean: 0.72944, std: 0.01054, params: {'learning_rate': 0.3, 'max_depth': 5, 'min_samples_split': 250},
  mean: 0.72985, std: 0.01125, params: {'learning_rate': 0.3, 'max_depth': 5, 'min_samples_split': 300},
  mean: 0.72917, std: 0.00919, params: {'learning_rate': 0.3, 'max_depth': 5, 'min_samples_split': 350},
  mean: 0.73053, std: 0.00839, params: {'learning_rate': 0.3, 'max_depth': 5, 'min_samples_split': 400},
  mean: 0.72971, std: 0.01033, params: {'learning_rate': 0.3, 'max_depth': 5, 'min_samples_split': 450},
  mean: 0.72836, std: 0.00948, params: {'learning_rate': 0.3, 'max_depth': 5, 'min_samples_split': 500},
  mean: 0.73053, std: 0.01526, params: {'learning_rate': 0.3, 'max_depth': 7, 'min_samples_split': 50},
  mean: 0.72931, std: 0.01143, params: {'learning_rate': 0.3, 'max_depth': 7, 'min_samples_split': 100},
  mean: 0.73269, std: 0.01106, params: {'learning_rate': 0.3, 'max_depth': 7, 'min_samples_split': 150},
  mean: 0.73432, std: 0.01086, params: {'learning_rate': 0.3, 'max_depth': 7, 'min_samples_split': 200},
  mean: 0.73283, std: 0.00990, params: {'learning_rate': 0.3, 'max_depth': 7, 'min_samples_split': 250},
  mean: 0.73053, std: 0.01503, params: {'learning_rate': 0.3, 'max_depth': 7, 'min_samples_split': 300},
  mean: 0.73053, std: 0.01183, params: {'learning_rate': 0.3, 'max_depth': 7, 'min_samples_split': 350},
  mean: 0.73202, std: 0.01163, params: {'learning_rate': 0.3, 'max_depth': 7, 'min_samples_split': 400},
  mean: 0.73405, std: 0.01352, params: {'learning_rate': 0.3, 'max_depth': 7, 'min_samples_split': 450},
  mean: 0.72945, std: 0.01180, params: {'learning_rate': 0.3, 'max_depth': 7, 'min_samples_split': 500},
  mean: 0.72945, std: 0.01317, params: {'learning_rate': 0.3, 'max_depth': 9, 'min_samples_split': 50},
  mean: 0.73053, std: 0.00909, params: {'learning_rate': 0.3, 'max_depth': 9, 'min_samples_split': 100},
  mean: 0.72931, std: 0.01173, params: {'learning_rate': 0.3, 'max_depth': 9, 'min_samples_split': 150},
  mean: 0.72877, std: 0.01295, params: {'learning_rate': 0.3, 'max_depth': 9, 'min_samples_split': 200},
  mean: 0.72836, std: 0.01307, params: {'learning_rate': 0.3, 'max_depth': 9, 'min_samples_split': 250},
  mean: 0.72674, std: 0.01276, params: {'learning_rate': 0.3, 'max_depth': 9, 'min_samples_split': 300},
  mean: 0.72768, std: 0.01163, params: {'learning_rate': 0.3, 'max_depth': 9, 'min_samples_split': 350},
  mean: 0.72511, std: 0.01146, params: {'learning_rate': 0.3, 'max_depth': 9, 'min_samples_split': 400},
  mean: 0.72714, std: 0.01139, params: {'learning_rate': 0.3, 'max_depth': 9, 'min_samples_split': 450},
  mean: 0.72972, std: 0.01328, params: {'learning_rate': 0.3, 'max_depth': 9, 'min_samples_split': 500},
  mean: 0.72755, std: 0.01032, params: {'learning_rate': 0.3, 'max_depth': 11, 'min_samples_split': 50},
  mean: 0.73039, std: 0.01322, params: {'learning_rate': 0.3, 'max_depth': 11, 'min_samples_split': 100},
  mean: 0.72863, std: 0.01211, params: {'learning_rate': 0.3, 'max_depth': 11, 'min_samples_split': 150},
  mean: 0.72809, std: 0.01091, params: {'learning_rate': 0.3, 'max_depth': 11, 'min_samples_split': 200},
  mean: 0.72944, std: 0.00936, params: {'learning_rate': 0.3, 'max_depth': 11, 'min_samples_split': 250},
  mean: 0.73094, std: 0.01254, params: {'learning_rate': 0.3, 'max_depth': 11, 'min_samples_split': 300},
  mean: 0.73175, std: 0.01021, params: {'learning_rate': 0.3, 'max_depth': 11, 'min_samples_split': 350},
  mean: 0.73243, std: 0.01089, params: {'learning_rate': 0.3, 'max_depth': 11, 'min_samples_split': 400},
  mean: 0.72985, std: 0.01193, params: {'learning_rate': 0.3, 'max_depth': 11, 'min_samples_split': 450},
  mean: 0.73310, std: 0.01039, params: {'learning_rate': 0.3, 'max_depth': 11, 'min_samples_split': 500},
  mean: 0.72836, std: 0.01024, params: {'learning_rate': 0.3, 'max_depth': 13, 'min_samples_split': 50},
  mean: 0.72890, std: 0.01420, params: {'learning_rate': 0.3, 'max_depth': 13, 'min_samples_split': 100},
  mean: 0.72701, std: 0.01133, params: {'learning_rate': 0.3, 'max_depth': 13, 'min_samples_split': 150},
  mean: 0.72931, std: 0.01091, params: {'learning_rate': 0.3, 'max_depth': 13, 'min_samples_split': 200},
  mean: 0.73351, std: 0.00843, params: {'learning_rate': 0.3, 'max_depth': 13, 'min_samples_split': 250},
  mean: 0.73148, std: 0.01673, params: {'learning_rate': 0.3, 'max_depth': 13, 'min_samples_split': 300},
  mean: 0.72958, std: 0.00933, params: {'learning_rate': 0.3, 'max_depth': 13, 'min_samples_split': 350},
  mean: 0.72822, std: 0.01306, params: {'learning_rate': 0.3, 'max_depth': 13, 'min_samples_split': 400},
  mean: 0.72958, std: 0.01211, params: {'learning_rate': 0.3, 'max_depth': 13, 'min_samples_split': 450},
  mean: 0.73066, std: 0.00950, params: {'learning_rate': 0.3, 'max_depth': 13, 'min_samples_split': 500},
  mean: 0.73080, std: 0.00766, params: {'learning_rate': 0.3, 'max_depth': 15, 'min_samples_split': 50},
  mean: 0.72999, std: 0.01266, params: {'learning_rate': 0.3, 'max_depth': 15, 'min_samples_split': 100},
  mean: 0.72944, std: 0.01176, params: {'learning_rate': 0.3, 'max_depth': 15, 'min_samples_split': 150},
  mean: 0.72457, std: 0.01371, params: {'learning_rate': 0.3, 'max_depth': 15, 'min_samples_split': 200},
  mean: 0.72971, std: 0.01029, params: {'learning_rate': 0.3, 'max_depth': 15, 'min_samples_split': 250},
  mean: 0.72849, std: 0.00954, params: {'learning_rate': 0.3, 'max_depth': 15, 'min_samples_split': 300},
  mean: 0.72782, std: 0.01155, params: {'learning_rate': 0.3, 'max_depth': 15, 'min_samples_split': 350},
  mean: 0.72619, std: 0.01140, params: {'learning_rate': 0.3, 'max_depth': 15, 'min_samples_split': 400},
  mean: 0.73026, std: 0.01067, params: {'learning_rate': 0.3, 'max_depth': 15, 'min_samples_split': 450},
  mean: 0.72646, std: 0.01327, params: {'learning_rate': 0.3, 'max_depth': 15, 'min_samples_split': 500},
  mean: 0.72863, std: 0.00888, params: {'learning_rate': 0.4, 'max_depth': 5, 'min_samples_split': 50},
  mean: 0.72877, std: 0.00973, params: {'learning_rate': 0.4, 'max_depth': 5, 'min_samples_split': 100},
  mean: 0.73053, std: 0.01055, params: {'learning_rate': 0.4, 'max_depth': 5, 'min_samples_split': 150},
  mean: 0.72660, std: 0.01213, params: {'learning_rate': 0.4, 'max_depth': 5, 'min_samples_split': 200},
  mean: 0.72579, std: 0.01568, params: {'learning_rate': 0.4, 'max_depth': 5, 'min_samples_split': 250},
  mean: 0.72687, std: 0.00839, params: {'learning_rate': 0.4, 'max_depth': 5, 'min_samples_split': 300},
  mean: 0.72863, std: 0.00805, params: {'learning_rate': 0.4, 'max_depth': 5, 'min_samples_split': 350},
  mean: 0.72877, std: 0.00809, params: {'learning_rate': 0.4, 'max_depth': 5, 'min_samples_split': 400},
  mean: 0.72701, std: 0.01707, params: {'learning_rate': 0.4, 'max_depth': 5, 'min_samples_split': 450},

In [663]:
g = gbc(n_estimators=80, min_samples_split=50, min_samples_leaf=3, learning_rate=.2,
                               max_depth=15, min_weight_fraction_leaf=0.0, max_leaf_nodes=None, max_features='sqrt',
                               subsample=.8, loss='deviance', init=None, random_state=0, verbose=0,
                               warm_start=False,presort='auto')

In [664]:
g.fit(X,Y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.2, loss='deviance', max_depth=15,
              max_features='sqrt', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=3, min_samples_split=50,
              min_weight_fraction_leaf=0.0, n_estimators=80,
              presort='auto', random_state=0, subsample=0.8, verbose=0,
              warm_start=False)

In [665]:
print('Accuracy of train, ', g.score(Xtrain,Ytrain))
print('Accuracy of test ,', g.score(Xtest,Ytest))
print('Difference is ,', (g.score(Xtrain,Ytrain) - g.score(Xtest,Ytest))*100)

Accuracy of train,  0.8412940379403794
Accuracy of test , 0.8557887610020312
Difference is , -1.4494723061651782

In [666]:
results = g.predict(X)

In [667]:
from sklearn.model_selection import cross_val_score as cvs

In [668]:
score = cvs(g,X,Y, cv=5, scoring='accuracy').mean()
score

0.7378465216325749

In [669]:
from sklearn.metrics import mean_squared_error as mse

In [671]:
error = mse(Y,results) **.5
error

0.47637592275483187

In [672]:
from sklearn.svm import SVC

In [410]:
cl = [l,d,r,g,k,gr]
alg = ['Logistic Regression', 'Decision Tree', 'Random Forest', 'Gradient Booster', 'KNeighbors', 'Gradient Regressor']

for i in range(len(alg)):
    cl[i] = cl[i].fit(Xtrain,Ytrain)
    print(alg[i])
    print('Accuracy of train, ', cl[i].score(Xtrain,Ytrain))
    print('Accuracy of test ,', cl[i].score(Xtest,Ytest))
    print('Difference is ,', (cl[i].score(Xtrain,Ytrain) - cl[i].score(Xtest,Ytest))*100)

Logistic Regression
Accuracy of train,  0.7286585365853658
Accuracy of test , 0.7014218009478673
Difference is , 2.723673563749851
Decision Tree
Accuracy of train,  1.0
Accuracy of test , 0.6966824644549763
Difference is , 30.33175355450237
Random Forest
Accuracy of train,  0.9818766937669376
Accuracy of test , 0.7257955314827352
Difference is , 25.60811622842024
Gradient Booster
Accuracy of train,  0.8080962059620597
Accuracy of test , 0.7386594448205822
Difference is , 6.943676114147745
KNeighbors
Accuracy of train,  0.2201346454339506
Accuracy of test , -0.14309391089228218
Difference is , 36.32285563262327
Gradient Regressor
Accuracy of train,  0.4567323686402194
Accuracy of test , 0.4164022746159087
Difference is , 4.0330094024310705